<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<div class="container bg-info">

{% extends "layout.html" %}
{% block title %}You already offered lift{% endblock %}
{% block content %}

You have already offered a lift for this course:

<p>You offered lift on {{existing_offer.to_course.strftime("%d.%m.%Y") }} from {{existing_offer.from_where}} </p>

<p>You offered a lift back on {{existing_offer.from_course.strftime("%d.%m.%Y") }} to {{existing_offer.to_where}}</p>


{% endblock %}
</div>