<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<div class="container bg-info">

{% extends "layout.html" %}
{% block title %}You already wished lift{% endblock %}
{% block content %}

You have already wished a lift for this course:

<p>You wished lift on {{existing_wish.to_course.strftime("%d.%m.%Y") }} from {{existing_wish.from_where}} </p>

<p>You wished a lift back on {{existing_wish.from_course.strftime("%d.%m.%Y") }} to {{existing_wish.to_where}}</p>


{% endblock %}
</div>