

<form action="/lift_offer" method="post">
    Offer a lift to course site on {{ participation[2].strftime("%d.%m.%Y") }} from <br><input type="text" name="from_where" minlength="3" maxlength="30">
    <p>
    Offer a lift from course site on {{ participation[3].strftime("%d.%m.%Y") }} to <br><input type="text" name="to_where" minlength="3" maxlength="30">
    <p>
    <input type="submit" value="Offer lift">
    <input type="hidden" name="course_id" value="{{ participation[1] }}">
    <input type="hidden" name="to_course" value="{{ participation[2] }}">
    <input type="hidden" name="from_course" value="{{ participation[3] }}">
    </form>

    <a href="/">Back to start page</a>