{% extends "layout.html" %}
{% block title %}Participations{% endblock %}
{% block content %}

{% if participations %}

You signed up for following periods of time:
<hr>
<ul>
{% for participation in participations %}

<li> Course {{ participation[0].strftime("%d.%m.%Y")  }} - {{ participation[1].strftime("%d.%m.%Y")  }}: you signed up for 
    {{ participation[2].strftime("%d.%m.%Y")  }} - {{ participation[3].strftime("%d.%m.%Y")  }}
    <br>
    <a href="/lifts/{{ participation[4] }}">Offer or request lift</a>
</li>
{% endfor %}
</ul>
<hr>

{% else %}
You have not signed up for any days.
{% endif %}
<a href="/">Go to start</a>

{% endblock %}
