<!-- <form action="/register" method="post">
  
    User name: <br><input type="text" name="username">
    
    <p>
    Password: <br><input type="password" name="password1">
    <p>
    Re-type password: <br><input type="password" name="password2">
    <p>
    <input type="submit" value="Create credentials">
    </form>
    
    <p>
   -->


    {% from "_formhelpers.html" import render_field %}
    <form action="/register" method="post">
        
      <dl>
        {{ render_field(form.username) }}
        {{ render_field(form.password1) }}
   

      </dl>
      <p><input type="submit" value="Create credentials">
    </form>

    <a href="/">Back to start page</a>